[submodule "bootstrap"]
	path = vendor/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "jam"]
	path = vendor/jam
	url = git://github.com/caolan/jam.git
[submodule "almond"]
	path = vendor/almond
	url = git://github.com/jrburke/almond.git
