<a href="/public/<%= propertyId %>" class="thumbnail listing">
  <div class="position"><%= pos %></div>
  <div class="row">
    <div class="photo photo-span4">
      <img src="<%= cover %>" alt="<%= i18nCommon.nouns.cover_photo %>">
    </div>
  </div>
  <div class="caption">
    <strong><%= title %></strong>
    <%= rent %>
  </div>
</a>