<a href="<%= publicUrl %>" class="thumbnail clearfix listing">
  <div class="position"><%= pos %></div>
  <div class="photo photo-thumbnail stay-left">
    <img class="" src="<%= cover %>" alt="<%= i18nCommon.nouns.cover_photo %>" width="50">
  </div>
  <div class="photo-float thumbnail-float caption">
    <strong><%= title %></strong>
    <div class="pull-right"><%= rent %></div>
  </div>
</a>