<a class="thumbnail listing" href="<%= publicUrl %>" data-title="<%= title %>" data-rent="<%= rent %>" data-locality="<%= locality %>" data-index="<%= index %>">
  <div class="photo photo-grid4">
    <img src="<%= profile %>" alt="<%= i18nCommon.nouns.cover_photo %>">
  </div>
</a>