<td><%= start_date %> - <%= end_date %></td>
<td>$<%= rent %></td>
<td><%= createdAt %></td>
<td>
<% if (!applied) { %>
  <button class="btn btn-primary show-modal"><%= i18nListing.actions.apply %></button>
<% } else { %>
  <button class="btn btn-primary" disabled="disabled"><%= i18nListing.attributes.applied %></button>
<% } %>
<!-- <button class="btn btn-default promote"><%= i18nListing.actions.promote %></button> -->
</td>