<header>
  <h2><%= i18nCommon.classes.Tenants %></h2>
</header>

<ul id="tenants" class="row no-bullet">
  <img src='/img/misc/spinner.gif' class='span spinner' alt="<%= i18nCommon.verbs.loading %>" />
</ul>