<li><a id="login-link" href="#"><%= i18nDevise.actions.login %></a></li>
<li class="hidden-sm"><a id="signup-link" href="#"><%= i18nDevise.actions.signup %></a></li>
<li class="visible-sm" ><a href="#" data-target="#search-menu" data-toggle="collapse"><span class="glyphicon glyphicon-search"></span></a></li>