<li>
  <a id="panel-profile-link" class="clearfix" href="/users/<%= objectId %>">
    <img src="<%= src %>" class="pull-left photo photo-micro img-circle" alt="<%= photo_alt %>" width="23" height="23">
    <span class="photo-float micro-float"><%= name %></span>
  </a>
</li>
<li>
  <a href="/account/settings">
    <i class="icon icon-cog"></i> <%= i18nUser.menu.account_settings %>
  </a>
</li>
