<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= i18nCommon.nouns.inside %></a>
<ul class="dropdown-menu">
  <li>
    <a href="/inside"><%= i18nCommon.classes.Properties %></a>
  </li>
  <li>
    <a href="/inside/listings"><%= i18nCommon.classes.Listings %></a>
  </li>
  <li>
    <a href="/inside/tenants"><%= i18nCommon.classes.Tenants %></a>
  </li>
  <li>
    <a href="/inside/managers"><%= i18nCommon.classes.Managers %></a>
  </li>
</ul>