!!! 5
html(lang="en")
  head(prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# clevertower: http://ogp.me/ns/fb/clevertower#")

    title CleverTower

    // Metatags
    meta(charset='utf-8')
    meta(content="width = device-width,initial-scale = 1.0,maximum-scale = 1.0", name="viewport")
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    
    // Links
    link(rel="shortcut icon", type="image/vnd.microsoft.icon", href="/favicon.ico")
    link(rel="apple-touch-icon", type="image/png", href="/img/apple/apple-touch-icon.png")
    link(rel="apple-touch-icon", type="image/png", href="/img/apple/apple-touch-icon-ipad.png", sizes="72x72")
    link(rel="apple-touch-icon", type="image/png", href="/img/apple/apple-touch-icon-iphone4.png", sizes="114x114")
    link(type="text/css", rel="stylesheet", href="//fonts.googleapis.com/css?family=Rokkitt:regular&amp;subset=latin", media="all")

    // Facebook
    meta(property='fb:app_id', content='387187337995318')
    meta(property='og:site_name', content='CleverTower')
    block fbTags
      meta(property='og:description', content='CleverTower is a startup on a mission to change the way you live, and the way you manage property. Thanks for stopping by.')
      meta(property='og:url', content='clevertower.com')
      meta(property='og:image', content='/img/logos/logo-200.png')
      meta(property='og:type', content='website')
    
    // Only script we need
    script(type="text/javascript", src="/js/app/config/init.js")
    
    // Le HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src="//html5shiv.googlecode.com/svn/trunk/html5.js")
    
  body
    #view(role="main")
      nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
        .container
          .navbar-header.pull-left
            button#sidebar-toggle.navbar-toggle.visible-sm.visible-md
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand.left-sm(href="/", title="Home")
              img(src="/img/logo/logo.png", alt="logo")
            ul#primary-nav.nav.navbar-nav.visible-md.visible-lg
              li#home-nav
                a(href="/outside") Outside
              li#network-nav
                a(href="/inside") Inside
          ul#user-menu.nav.navbar-nav.navbar-right.pull-right
            li
              a#login-link(href="#") Login
            li.hidden-sm.hidden-xs
              a#signup-link(href="#") Sign up
            li.visible-sm
              a(href="#", type="button", data-target="#search-menu", data-toggle="collapse")
                span.glyphicon.glyphicon-search
                // b.caret
          #search-menu.nav-collapse.collapse.navbar-left.clearfix
            form.navbar-form.form-search
              button.btn.btn-link.hidden-sm(type="button")
                span.glyphicon.glyphicon-search
              input.form-control.search-query(type="text", name="q", placeholder="Search", autocomplete="off", spellcheck="off")

      // Branding
      #brand-strip.hide

      // Messages
      #messages.container

      // Facebook root.
      #fb-root

      // Page wrapper
      #page.page(data-role='page')

        // Main
        #main.main
          block content

        // People modal, for viewing lists of people.
        #people-modal.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type="button", data-dismiss="modal") &times;
                h3.modal-title People who like this
              .modal-body
              .modal-footer
                button.btn.btn-default(data-dismiss="modal") Close

        // Content modal, for viewing content
        #view-content-modal.modal.fade
          .modal-dialog
            .modal-content

        // Full-page modal, for wizards
        // #full-modal.hide.main
            
        // Footer
        // footer.footer(data-role='footer')
        //   .navbar.navbar-fixed-bottom
        //     .navbar-inner
        //       .container
        //         p Made by Keigan

    #sidebar.menu(role="complementary")
      ul#sidebar-nav-menu.nav
        li#sidebar-home-nav.home-nav
          a(href="/outside") Outside
        li#sidebar-network-nav.network-nav
          a(href="/inside") Inside

      ul#sidebar-user-menu.nav.position-bottom
        li
          a#sidebar-login-link.login-link(href="/account/login") Login
        li
          a#sidebar-signup-link.signup-link(href="/account/signup") Sign up