!!! 5
html
  head
    title Jasmine Spec Runner
    link(rel='stylesheet', type='text/css', href='css/libs/jasmine.css')
    script(src='js/libs/require.js', data-main='js/test/config/TestInit')
  body
