<div class="row">
  <div class="span8 content"></div>
  <aside class="span4">
    <div class="announcements"></div>
    <div class="user-content"></div>
    <div class="map-container">
      <label class="checkbox" style="width:100%; background: lightGray; ">
        <input id="redo-search" type="checkbox" checked="checked" /><%= i18nListing.map.redo_search_in_area %>
      </label>
      <div id="mapCanvas"></div>
    </div>
  </aside>
</div>