<li>
  <form class="form-search navbar-search">
    <div class="controls">
      <div class="input-append">
        <input id="search" class="input-large typeahead search-query" type="text" name="q" placeholder="<%= i18nCommon.actions.search %>" autocomplete="off" spellcheck="off">
        <button class="btn" type="submit" rel="tooltip" data-original-title="<%= i18nCommon.actions.search %>">
          <i class="icon icon-search"></i>
        </button>
      </div>
    </div>
  </form>
</li>