<form class="navbar-form form-search">
  <button type="button" class="btn btn-link hidden-sm hidden-xs">
    <span class="glyphicon glyphicon-search"></span>
  </button>
  <input class="form-control search-query" type="text" name="q" placeholder="<%= i18nCommon.actions.search %>" autocomplete="off" spellcheck="off">
</form>