<section class="section">
  <header>
    <ul id="actions" class="unstyled inline">
      <li>
        <button id="new-property" class="btn btn-success">
          <%= i18nProperty.actions.new_property %>
        </button>
      </li>
    </ul>
  </header>

  <ul id="property-list">
    <img src='/img/misc/spinner.gif' class='spinner' />
  </ul>
</section>

<div id="form" class="wizard"></div>