<form class="property-form">
  <div class="alert alert-error" style="display:none"></div>
  <%= JST["src/js/templates/property/form/_basic.jst"]({property: property, i18nCommon: i18nCommon, i18nProperty: i18nProperty}) %>
</form>
