<li class="comment clearfix">
  <div class="photo photo-micro pull-left">
    <a href="<%= profileUrl %>">
      <img src="<%= profilePic %>" alt="<%= name %>" width="23" height="23">
    </a>
  </div>
  <div class="photo-float micro-float">
    <p><a href="<%= profileUrl %>"><%= name %></a> <%= title %></p>
  </div>
  <div class="photo-float micro-float">
    <small class="help-inline"><%= i18nCommon.fields.posted %> <%= postDate %></small>
  </div>
</li>