/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */


/**
 * Search Form
 */
.geolocation-map {
  width:100%;
  height:350px;
  img {
    // Don't let Google map controls be broken
    max-width: none; 
  }
}

.geolocation-client-location {
  margin-left:5px;
}

.field-widget-geolocation-googlemap .controls {
  display:inline-block;
}

.ctools-modal-content {
  .geolocation-address {
    width:300px;
  }
  .geolocation-map {
    height:200px;
  }
}



.geolocation-search {
  margin-bottom:13px;
  .control-group {
    margin-bottom:0;    
  }
}

@media (max-width: 767px) {
  html {
    .ctools-modal-content {
      .geolocation-address {
        width:300px;
      }
    }
  }
  .geolocation-map {
    height:300px;
  }
}

@media (max-width: 320px) {
  html {
    .ctools-modal-content {
      .geolocation-address {
        width:165px;
      }
    }
  }
  .geolocation-map {
    height:150px;
  }
}