<li class="<%= done ? 'completed' : '' %>">
  <div class="view">
  <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %>>
  <label class="todo-content"><%= title %></label>
  </div>
  <input class="edit" value="<%= content %>">
</li>
