<!-- The template to display files available for upload -->
<div class="photo template-upload">
  <img src="<%= url %>" class="img-responsive fade in" width="370">
  <div class="photo-actions">
    <button type="button" class="photo-destroy btn btn-danger" title="<%= i18nCommon.actions.delete %>">
      <i class="glyphicon glyphicon-trash"></i>
    </button>
    <!-- <input type="checkbox" name="delete" value="1"> -->
  </div>
</div>