<form id="apps-form" class="apps-form">
  <div class="row">
    <div class="facebook-group form-group col-md-6 app"></div>
  </div>
  <div class="form-actions">
    <a href="<%= cancel_path %>" class="back btn btn-default"><%= i18nUser.actions.back_to_profile %></a>
  </div>
</form>