<div class="form-actions">
  <button class="next btn btn-primary"><%= i18nCommon.actions.next %></button>
  <button class="back btn" disabled="disabled"><%= i18nCommon.actions.back %></button>
  <button class="cancel btn"><%= i18nCommon.actions.cancel %></button>
</div>
