<select name="lease[unit]" id="lease-unit" class="col-md-2" required="true">
  <option value=""><%= i18nCommon.form.select.select_value %></option>
  <% units.each(function(unit) { %>
    <option value="<%= unit.id %>"><%= unit.title %></option>
  <% }) %>
  <option value="-1"><%= i18nCommon.constants.new_unit %></option>
</select>