<div id="select-email-modal" class="modal modal-form fade hide">
  <form id="select-email-form">
    <div class="modal-header">
      <button type="submit" class="btn btn-primary"><%= i18nCommon.adjectives.done %></button>
    </div>
    <div class="modal-body">

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary"><%= i18nCommon.adjectives.done %></button>
    </div>
  </form>
</div>