<div class="row">
  <div class="control-group span">
    <label for="edit-users-emails" class="control-label"></label>
    <div class="controls">
      <textarea id="users-emails" name="users[emails]" rows="3" class="span5"></textarea>
      <p class="help-block"><%= i18nCommon.form.comma_separated %></p>
    </div>
  </div>
</div>