<input type="hidden" name="unit[__type]" value="Pointer">
<input type="hidden" name="unit[className]" value="Unit">
<select name="unit[id]" class="span unit-select" required="<%= required %>">
  <option value=""><%= i18nCommon.form.select.select_value %></option>
  <option value="-1"><%= i18nUnit.constants.new_unit %></option>
</select>

<input type="text" name="unit[attributes][title]" placeholder="<%= i18nUnit.form.unit_number %>" class="new-unit input-xsmall" maxlength="16" style="display:none;">