// ACCORDION
// ---------

// Parent container
.accordion {
  margin-bottom: @baseLineHeight;
}

// Group == heading + body
fieldset.collapsible.accordion-group {
  margin-bottom: 2px;
  border: 1px solid #e5e5e5;
  .border-radius(4px);
}
fieldset.collapsible .accordion-heading {
  border-bottom: 0;
}
fieldset.collapsible .accordion-heading .accordion-toggle {
  display: block;
  padding: 8px 15px;
}

// Inner needs the styles because you can't animate properly with any styles on the element
fieldset.collapsible .accordion-inner {
  padding: 9px 15px;
  border-top: 1px solid #e5e5e5;
  .form-item {
    margin-right: 5px;
  }
}