.pull-right {
  &.btn-group {
    float:right; 
  }
}

.stay-right {
  float:right !important;
  .dropdown-menu {
    right:0;
    left:auto;
  }
}

.help-general {
  color: @grayLight;
  font-size: @baseFontSize + 2px;
  line-height: @baseLineHeight + 2px;
}

.stay-left {
  float:left !important;
}

.position-relative {
  position:relative;
}

.position-absolute {
  position:absolute;
}

.position-bottom {
  position:absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.box-fill {
  width:100% !important;;
  height:100% !important;;
}

.width-fill {
  width:100% !important;;
}

.height-fill {
  height:100% !important;;
}

.mask {
  // display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.mask-thumbnail {
  width: 64px;
  height: 65px;
  background: url("@{imagesFolder}/vendor/itunes/mask64.png") 0 0 no-repeat;
}

.mask-disabled {
  .opacity(30);
  background-color: white;
}

// LISTS
// -----

a > .badge {
  margin-left:4px; /* LTR */
}

/**
 * Lists
 */
ul.inline, ol.inline {
  margin-bottom: 0;
  // li + li {
  //   margin-left:10px;
  // }
  &.inline-condensed {
    li + li { padding-left: 1px; padding-right: 1px; }
  }
}

.half-in {
  .opacity(50);
}

.no-bullet {
  list-style: none;
}

.three-column {
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  column-count: 3;
  column-gap: 10px;
}
.two-column {
  -moz-column-count: 2;
  -moz-column-gap: 10px;
  -webkit-column-count: 2;
  -webkit-column-gap: 10px;
  column-count: 2;
  column-gap: 10px;
}

@media (max-width: 767px) { 
  .three-column {
    -moz-column-count: 2;
    -moz-column-gap: 10px;
    -webkit-column-count: 2;
    -webkit-column-gap: 10px;
    column-count: 2;
    column-gap: 10px;
  }
}

@media (max-width: 480px) { 
  .two-column,
  .three-column {
    -moz-column-count: 1;
    -moz-column-gap: 0;
    -webkit-column-count: 1;
    -webkit-column-gap: 0;
    column-count: 1;
    column-gap: 0;
  }
}



.display-block {
  display:block;
}

.inline-block {
  display: inline-block;
}

.center-tabs {
  margin:0 auto;
  > li {
    float: none;
    display: inline-block;
  }
}

@media (min-width:767px) {
  .inline-block + .inline-block {
    margin-left: 10px;
  }
}


.align-top    { vertical-align: top !important;    }
.align-middle { vertical-align: middle !important; }
.align-bottom { vertical-align: bottom !important; }

.pull-right {
  &[class*="offset"] {
    margin-left: 20px;
  }
  &.offset12 {
    margin-right: 980px - 20px;
  }
  &.offset11 {
    margin-right: 900px - 20px;
  }
  &.offset10 {
    margin-right: 820px - 20px;
  }
  &.offset9 {
    margin-right: 740px - 20px;
  }
  &.offset8 {
    margin-right: 660px - 20px;
  }
  &.offset7 {
    margin-right: 580px - 20px;
  }
  &.offset6 {
    margin-right: 500px - 20px;
  }
  &.offset5 {
    margin-right: 420px - 20px;
  }
  &.offset4 {
    margin-right: 340px - 20px;
  }
  &.offset3 {
    margin-right: 260px - 20px;
  }
  &.offset2 {
    margin-right: 180px - 20px;
  }
  &.offset1 {
    margin-right: 100px - 20px;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .pull-right {    
    &.offset12 {
      margin-right: 764px - 20px;
    }
    &.offset11 {
      margin-right: 702px - 20px;
    }
    &.offset10 {
      margin-right: 640px - 20px;
    }
    &.offset9 {
      margin-right: 578px - 20px;
    }
    &.offset8 {
      margin-right: 516px - 20px;
    }
    &.offset7 { 
      margin-right: 454px - 20px;
    }
    &.offset6 {
      margin-right: 392px - 20px;
    }
    &.offset5 {
      margin-right: 330px - 20px;
    }
    &.offset4 {
      margin-right: 268px - 20px;
    }
    &.offset3 {
      margin-right: 206px - 20px;
    }
    &.offset2 {
      margin-right: 144px - 20px;
    }
    &.offset1 {
      margin-right: 82px - 20px;
    }
  }
}

@media (min-width: 1200px) {
  .pull-right {
    &[class*="offset"] {
      margin-left: 30px;
    }
    &.offset12 {
      margin-right: 1230px - 30px;
    }
    &.offset11 {
      margin-right: 1130px - 30px;
    }
    &.offset10 {
      margin-right: 1030px - 30px;
    }
    &.offset9 {
      margin-right: 930px - 30px;
    }
    &.offset8 {
      margin-right: 830px - 30px;
    }
    &.offset7 {
      margin-right: 730px - 30px;
    }
    &.offset6 {
      margin-right: 630px - 30px;
    }
    &.offset5 {
      margin-right: 530px - 30px;
    }
    &.offset4 {
      margin-right: 430px - 30px;
    }
    &.offset3 {
      margin-right: 330px - 30px;
    }
    &.offset2 {
      margin-right: 230px - 30px;
    }
    &.offset1 {
      margin-right: 130px - 30px;
    }
  }
}

@media (max-width: 767px) {
  .pull-left,
  .pull-right {
    float: none;
    &[class*="span"] {
      float:none;
    }
    &[class*="offset"] {
      margin-right:0;
    }
  }
  .row-fluid [class*="span"] {
    &.pull-left,
    &.pull-right {
      float:none;
    }
  }
}

@media (max-width:767px) and (min-width:480px) {
  .tablet-left  { float:left; }
  .tablet-right { float:right; }
  .tablet-hidden { display:none !important; }
}

@media (max-width:480px) {
  .phone-left  { float:left; }
  .phone-right { float:right; }
  .phone-hidden { display:none !important; }
}

@media (min-width:767px) {
  .desktop-hidden { display:none !important; }
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Add additional class to fix text.
 */
.element-invisible {
  // Drupal
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px,1px,1px,1px);
  overflow: hidden;
  height: 1px;
  
  // Additional
  font-size: 0px;
  display:inline-block;
}

/**
 * Fix objects at the top of the screen.
 *
 * Used for to keep important links and information in sight.
 */
.fixed {
  position: fixed;
  top: 0;
  z-index: 2;
}