//
// Tables.less
// Tables for, you guessed it, tabular data
// ----------------------------------------


.table-scrollable {
  width: 100%;
  margin-bottom: 15px;
  overflow-y: hidden;
  overflow-x: scroll;
  .table {
    min-width: 600px;
    margin-bottom: 0;
  }
}

.table {
  &.sticky-header {
    margin-top: @navbar-height - 2px;
    z-index: @zindex-navbar-fixed - 1;
    border-bottom: 1px solid @table-border-color;
    th {
      background:@body-bg;
      height: @line-height-base;
      line-height: @line-height-base;
      margin:0;
      max-width: none;
      padding: 8px;
      text-align: left;
      vertical-align: bottom;
    }
  }
  .row {
    margin-left:0;
  }
  tr.divider {
    background:@gray-lighter;
    border:none;
    color:@gray-dark;
    font-weight:400;
  }
}

.table-middle {
  td, th {
    vertical-align:middle;
  }
}

@media (max-width: 767px) {
  .table.sticky-header {
    display:none;
  }
}