/**
 * @file
 * Page Styling
 *
 * Style the markup found in page.tpl.php. Also includes some styling of
 * miscellaneous Drupal elements that appear in the $content variable, such as
 * ul.links, .pager, .more-link, etc.
 */

hgroup {
  h2, h3, h4 {
    margin-top:0;
    margin-bottom:0;
  }
}

.main {
  margin-top: @navbarHeight;
  margin-bottom:18px;
  > .container {
    padding-top: 20px;
  }
}

/**
 * Page Header
 */
.page-header {
  padding-bottom:0;
  margin-top:0;
  h1 {
    display: inline-block;
    margin-right:25px;
    margin-bottom:9px;
  }
  .btn-toolbar {
    margin-top:0;
  }
}

@media (max-width:767px) {
  body {
    &.logged-in {
	    .main {
	      padding-top: 0 !important;
	    }
    } 
  }
  .main {
    .container {
      margin-top: 0;
    }
  }
}