#activity {
  > ul {
    > li {
      padding: 15px;
      border-bottom-color: #aaa;
      &.divider {
        margin: 18px 0;
      }
    }
  }
}

.activity {
  a > {
    img.profile-pic {
      display: inline;
    }
  }
}

.likers {
  &.active {
    color: @brand-success;
  }
}

@media (min-width: @screen-sm-min) { .map-container-fixed { width: (4 / @grid-columns) * (@container-sm) - @grid-gutter-width; } }
@media (min-width: @screen-md-min) { .map-container-fixed { width: (4 / @grid-columns) * (@container-md) - @grid-gutter-width; } }
@media (min-width: @screen-lg-min) { .map-container-fixed { width: (4 / @grid-columns) * (@container-lg) - @grid-gutter-width; } }

#city {
  > div {
    margin-bottom:18px;
    background-repeat:none;
    background-position:50% 50%;
    border-radius: @border-radius-base;
    > div {
      padding: 30px 15px;
    }
  }
  h1 {
    color: #fff;
    text-shadow:0 1px 25px @gray-dark;
  }
  p {
    color: #fff;
    text-shadow:0 1px 14px @gray-dark;
  }
  .close {
    color:@white;
    font-size:20px;
    font-weight: 400;
    padding: 5px 10px;
    .opacity(0.9);
    &:hover {
      .opacity(1);
    }
  }
}

// All forms where an activity is posted
.activity-form {
  legend {
    font-size: @font-size-large;
    line-height: @line-height-large;
    border: none;
    margin: 0;
    padding: 0;
  }
  legend + .control-group {
    margin-top:0;
  }
  .share-options {
    .control-label {
      margin-top: 3px;
    }
  }
}

#activities {
  &.small {
    .activity {
      // Make .photo-grid4 behave as photo-thumbnail
      // .photo-grid4 {
      //   height:@img-length-thumbnail;
      //   width:@img-length-thumbnail;
      //   img {
      //     height:@img-length-thumbnail;
      //     min-width:@img-length-thumbnail;
      //     max-width:@img-length-profile + 28px;
      //     width: auto;
      //   }
      // }
      // Make .caption behave as .thumbnail-float/.photo-float
      .caption {
        float: none;
        display:block;
        margin-left: @img-length-thumbnail + @img-padding-thumbnail; 
        padding-top: @padding-large-vertical;
        padding-bottom: @padding-large-vertical;
      }
    }
  }
  // Special wide-activity formatting
  // > .col-md-12 {
  //   .photo-grid4 {
  //     height: 260px;
  //     width: 620px - 10px;
  //     img {
  //       width: 620px - 10px;
  //     }
  //   }
  //   // .caption {}
  // }
}

@media (min-width: 1200px) {
  #activities {
    // Special wide-activity formatting
    > .col-md-12 {
      .photo-grid4 {
        width: 770px - 10px;
        img {
          width: 770px - 10px;
        }
      }
    }
  }
}

@media (max-width: 979px) and (min-width: 768px) {
  #activities {
    // Special wide-activity formatting
    > .col-lg-12 {
      .photo-grid4 {
        width: 476px - 10px;
        img {
          width: 476px - 10px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  #activities {
    // Special wide-activity formatting
    > .col-lg-12 {
      .photo-grid4 {
        width: 100%;
      }
    }
  }
}


#activity-filter-form {
  #general-controls {
    .control-group {
      margin-bottom: 0;
    }
  }
  .form-horizontal {
    .control-group {
      margin-bottom: 9px;
    }
    .control-label {
      width: 60px;
    }
    .controls {
      margin-left: 80px;
    }
    #slider-group {
      margin-top: 9px;
    }
    #display-group {
      margin-bottom: 0;
    }
  }
}

.activity {
  background-color: white;
  position: relative;
  margin-bottom: 18px;
  .content {
    .photo {
      margin-bottom: 15px;
    }
  }
  .caption {
    padding:0 @padding-large-horizontal;
    margin-bottom: 15px;
  }

  a:hover {
    text-decoration: none;
  }
  &.active {
    border-color: @brand-primary;
    .box-shadow(0 1px 4px rgba(0, 105, 214, 0.25))
  }
  .rent {
  	font-size: 16px;
  }
  blockquote {
    font-size: 24px;
    line-height: 24px;
    font-weight: 100;
    vertical-align: middle;
    padding: @padding-large-vertical @padding-large-horizontal;
    margin-bottom:15px;
  }
  .activity-actions {
    padding-top: 4px;
    // position: absolute;
    // right:9px;
    // bottom:9px;
  }
  .position {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 21px;
    height: 23px;
    line-height: 23px;
    font-size: @font-size-mini;
    background-color: @orange;
    color: @white;
    &.property-linked {
      background-color: @green;
    }
  }
}

#view-content-modal {
  .rent {
    position: absolute;
    top: 15px;
    right: 15px;
    text-align: right;
    font-size: 24px;
    text-shadow: 0 1px 10px #fff;
  }
  .caption {
    position:relative;
  }
}

#activity-type {
  li {
    padding:0;
    width:24%;
  }
  input[type="radio"] {
    &:checked + label {
      /* style for the checked/selected state */
      .icon-activity {
        &.icon-status     { background-position: 0      -40px; }
        &.icon-photo      { background-position: -40px  -40px; }
        &.icon-tip        { background-position: -80px  -40px; }
        &.icon-building   { background-position: -120px -40px; }
      }
    }
  }
}

#activity-title {
  padding-right: 30px;
}

#activity-buttons {
  position: absolute;
  top: 3px;
  right: 6px;
  // li {
  //   position: static;
  // }
  // .tooltip {
  //   position: absolute;
  // }
}

// #activity-options {
//   background-color:#DDDDDD;
//   .border-radius(0 0 4px 4px);
//   padding-top: 2px;
// } 

// #activity-input-caret {
//   .transition(~"left ease .15s");
//   &:before { left: 20px; }
//   &:after  { left: 20px - 2px; }
//   &.phase-0 { left: 0; }
//   &.phase-1 { left: 25%; }
//   &.phase-2 { left: 50%; }
//   &.phase-3 { left: 75%; }
// }

// @media (min-width: 767px) and (max-width: 979px) {
//   #activity-type {
//     li {
//       width:23%;
//     }
//   }
//   #activity-input-caret {
//     &:before { left: 5px; }
//     &:after  { left: 5px - 2px; }
//   }
// }

// @media (min-width: 979px) and (max-width: 1200px) {
//   #activity-type {
//     li {
//       width:23%;
//     }
//   }
//   #activity-input-caret {
//     &:before { left: 20px; }
//     &:after  { left: 20px - 2px; }
//   }
// }

// @media (min-width: 1200px) {
//   #activity-input-caret {
//     &:before { left: 30px; }
//     &:after  { left: 30px - 2px; }
//   }
// }