/**
 * @file
 * Profile Styling
 */

/**
 * Profile view
 */

.page-user {
  .profile-pic {
    float:left;
  }
  h1 {
    display:inline-block;
    margin-right: 12px;
    margin-bottom:9px;
  }
  .btn-group {
    vertical-align:top;
    margin-top:9px; // Same as h1.
  }
  .field-bio {
    margin-bottom:9px;
    font-size:14px;
  }
  .action-links {
    float:none;
  }
  .field-label {
    width:100px;
    display:inline-block;
  }
}

/* Split into two sections */
.entity-profile2 {
  .field-type-image,
  .group-info {
    vertical-align:top;
    display:inline-block;
  }

}

