/**
 * @file
 * Image floating
 */

.photo {
  overflow:hidden;
}

img[class*="span"] {
  height: auto;
}

.photo-micro {
  height:@microImgLength;
  width:@microImgLength;
  img {
    height:@microImgLength;
    min-width:@microImgLength;
    max-width:@tinyImgLength;
  }
}

.photo-tiny {
  height:@tinyImgLength;
  width:@tinyImgLength;
  img {
    height:@tinyImgLength;
    min-width:@tinyImgLength;
    max-width:@thumbnailImgLength;
  }
}

.photo-thumbnail {
  height:@thumbnailImgLength;
  width:@thumbnailImgLength;
  img {
    height:@thumbnailImgLength;
    min-width:@thumbnailImgLength;
    max-width:@profileImgLength;
  }
}

.photo-profile {
  height:@profileImgLength;
  width:@profileImgLength;
  img {
    min-height:@profileImgLength;
    min-width:@profileImgLength;
    max-height:@mediumImgLength;
    max-width:@mediumImgLength;
  }
}

.photo-medium {
  height:@mediumImgLength;
  width:@mediumImgLength;
  img {
    min-height:@mediumImgLength - 100;
    max-height:@mediumImgLength + 100;
    width:@mediumImgLength;
  }
}

.photo-float {
  // Applied to things around the photo
  float: none;
  display:block; 
}
.photo-inline {
  // Applied to photo
  display:inline-block;
  vertical-align:top;
}

.micro-float        { margin-left: @microImgLength     + @microImgPadding;      }
.tiny-float         { margin-left: @tinyImgLength      + @tinyImgPadding;       }
.thumbnail-float    { margin-left: @thumbnailImgLength + @thumbnailImgPadding;  }
.profile-float      { margin-left: @profileImgLength   + @profileImgPadding;    }
.medium-float       { margin-left: @mediumImgLength    + @mediumImgPadding;     }
                    
.profile-inline     { margin-left: @profileImgPadding;  }

.photo-elastic {
  height:auto;
  width:auto;
}

@media (max-width: 979px) {
  .photo-elastic {
    height:100%;
    img {
      height:auto;
    }
  }
}

@media (max-width: 480px) {
  .photo-elastic {
    height:80px;
    width:100%;
    img {
      max-height:none;
      width: 100%;
    }
  }
}

@media (max-width: 480px) {
  .elastic-float    { margin-left: auto; padding-left: @profileImgPadding; }
}