// DROPDOWN MENUS
// --------------

// The dropdown menu (ul)
// ----------------------
.dropdown-menu {
  
  form {
    margin-left:4px;
    margin-right:4px;
    margin-bottom:0;
  }

  // Inline items within the dropdown menu
  .dropdown-inline {
    display: block;
    .clearfix();
    
    margin-top:0;
    &:first-child {
      margin-top:3px;
    }
      
    > a {
      display: inline-block;

      &.text {
        margin-right:10px;
        padding:3px 15px;
        
        // Hover state
        // -----------      
        &:hover {
          color: @dropdownLinkColorHover;
          text-decoration: none;
          background-color: @dropdownLinkBackgroundHover;
        }
      }

      &.icon {
        float:right;
        margin-right:5px;
      }
    }
  }
}