/**
 * @file
 * Typography Styling
 */

// HEADERS
// -------

h1 { font-size: 30px + 5px; }
h2 { font-size: 24px + 4px; }
h3 { font-size: 18px + 4px; }
h4 { font-size: 14px + 4px; }
h5 { font-size: 12px + 4px; }
h6 {
  font-family: @sansFontFamily;
}

.center {
  text-align:center;
}

.node-page {
  text-align:justify;
}

.node .submitted a,
.node .terms a {
  border: none;
}

.node .terms {
  text-transform: uppercase;
}

/**
 * Autocomplete
 */
#autocomplete {
  text-align:left;
}


.tips /* Tips for Drupal's input formats */ {
  font-size: 0.9em;
}



/**
 * Blocks
 */
.block-title /* Block title */ {
  text-transform:uppercase;
}

.strong {
  font-weight:bold;
}
