/**
 * @file
 * Message Styling
 */

#messages-container {
  position:fixed;
  text-align:center;
  top:@navbarHeight+5px;
}

#messages {
  position:relative;
  display:inline-block;
  h4 {
    display:inline;
  }
}

.alert {
  .btn-group {
    display:inline-block;
  }
  ul {
    margin-bottom:0;
  }
}