/**
 * @file cali-modal.less
 * Style the Modal display.
 */

#modalBackdrop {
  z-index:@zindexModalBackdrop;
}

.modal-body {
  max-height:none;
  overflow-y:auto;
  padding: 0;
}
.modal-footer {
  span {
    float: left;
  }
  &.form-actions {
    label {
      float:none;
      display:inline-block;
      vertical-align:middle;
    }
  }
}

.modal {
  overflow: hidden;
  background-color:@bodyBackground;
  left: 43%;
  width: 700px;
}

#modal-title {
  font-size:24px;
}

.modal-content {
  .modal-body {
    max-height:400px;
    overflow-y:scroll;
    padding: 15px 15px 0;
  }

  form {
    margin-bottom:0;
  }
  #modal-throbber {
    text-align:center;
    margin:18px 0;
  }
}

@media (max-width: 480px) {
  .modal-footer {
    span {
      width: 150px;
    }
  }
}


@media (min-width: 640px) and (max-width: 979px) {
  .modal {
    left: 45%;
    width: 620px;
  }
}

@media (min-width: 1200px) {
  .modal {
    left: 42%;
    width: 780px;
  }
}