/**
 * @file
 * Form Styling
 */

form {
  fieldset + hr {
    margin: 0 0 18px;
  }
}

legend {
  margin-bottom:9px;
}

.form-condensed {
  margin-bottom: 0;
  .control-group,
  .control-label,
  .controls,
  .input-prepend,
  .input-append,
  select, 
  textarea, 
  input,
  .uneditable-input {
    margin-bottom: 0;
  }
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
textarea,
.uneditable-input {
  &.input-condensed {
    margin-bottom: 0;
  }
}

.form-horizontal {
  // Multiple controls and labels within the same group
  .controls + .control-label {
    margin-top:5px;
    & + .controls {
      margin-top:5px;
    }
  }
}

@media (min-width:767px) {
  .form-full {
    min-height: 550px;
    position:relative;
    .form-actions {
      position:absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

.form-inline {
  h4 {
    margin:0;
    margin-right:5px;
    display:inline-block;
  }
  legend + .control-group {
    margin-top:0;
  }
}

@media (min-width:767px) {
  .form-inline {
    // .control-label, 
    // .controls, 
    .control-group {
      display: inline-block;
    }
    .control-group + .control-group {
      margin-left: 10px;
    }
  }
}

.form-horizontal,
.form-inline {
  .input-block-level {
    display: block;
  }
} 

input {
  // Colons (1 and 2 depending) needed for each pseudo-selector.
  &::-webkit-input-placeholder { color:@grayLight; }
  &::-moz-placeholder          { color:@grayLight; }
  &:-moz-placeholder           { color:@grayLight; }
  &:-ms-input-placeholder      { color:@grayLight; }
}

.input-caret {
  position: absolute;
  z-index: @zindexDropdown;
  &:before {
    content: '';
    display: inline-block;
    border-left:   7px solid transparent;
    border-right:  7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: @inputBorder;
    position: absolute;
    top: -7px;
    left: 10px;
      // border: 1px solid @inputBorder;
    .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
    // .transition(~"border linear .2s, box-shadow linear .2s");
  }
  &:after {
    content: '';
    display: inline-block;
    border-left:   9px solid transparent;
    border-right:  9px solid transparent;
    border-bottom: 9px solid @inputBackground;
    position: absolute;
    top: -5px;
    left: 9px;
    .box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
    // .transition(~"border linear .2s, box-shadow linear .2s");
  }
}

.radio-icons {
  input[type="radio"] {
    /* hide the inputs */
    opacity: 0;
    display:none;
    /* keep pointer so that you get the little hand showing when you are on a button */
     + label {
      cursor: pointer;
    }
  }
}

/**
 * jQuery File Upload UI Plugin CSS 6.10
 * https://github.com/blueimp/jQuery-File-Upload
 *
 * Copyright 2010, Sebastian Tschan
 * https://blueimp.net
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */

.files {
  .progress {
    width: 200px;
    width: 20px;
  }
  .name * {
    width: 80px;
    display: inline-block;
    word-wrap: break-word;
  }
  .btn span {
    display: none;
  }
  .preview * {
    width: 40px;
  }
  .delete {
    width: 60px;
  }
}

.fileinput-button {
  input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
  }
}

.progress-animated {
  .bar {
    background: url(../img/progressbar.gif) !important;
    filter: none;
  }
}
.fileupload-buttonbar .btn,.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}
.fileinput-button {
  position: relative;
  overflow: hidden;
  float: left;
  // margin-right: 4px;
}

.template-upload {
  position: relative;
  .progress {
    margin: 0 8px;
    position: absolute;
    top: 8px;
    left: 0;
    right: 0;
  }
}

/* Fix for IE 6: */
* html .fileinput-button {
  line-height: 24px;
  margin: 1px -3px 0 0;
}

/* Fix for IE 7: */
* + html .fileinput-button {
  padding: 2px 15px;
  margin: 1px 0 0 0;
}

.fileupload-processing {
  .fileupload-loading {
    display: block;
  }
}
.fileupload-loading {
  position: absolute;
  left: 50%;
  width: 128px;
  height: 128px;
  background: url(../img/loading.gif) center no-repeat;
  display: none;
}

/**
 * Animated Form Wizards
 */
.wizard {
  overflow-x: hidden;
  .wizard-forms {
    position: relative;
    // overflow-x: hidden;
    height:450px;
  }
  .wizard-actions {
    position: relative;
  }
  form {
    position: absolute;
    overflow-y: scroll;
    margin-bottom:18px;
  }
  .property-form,
  .join-form {
    left: 150%;
  }
}

@media (max-width:767px) {
  .wizard {
    height:auto;
    position:relative;
    overflow-x: visible;
    .wizard-forms {
      height:auto;
    }
    form {
      top:80px; // .form-actions height + .navbar height
      overflow-y: visible;
      height: auto;
    }
    .wizard-actions {
      position:absolute;
      margin-left:-20px;
      margin-right:-20px;
      top:0;
      bottom: auto;
    }
    .form-actions {
      position: absolute;
      width: 100%;
      margin-top:0;
    }
  }
}

.navbar-search {
  .form-type-textfield {
    float:left;
  }
  .btn {
    margin:0;
  }
  .control-group {
    margin-bottom:0px;
  }
}

// Large controls
@media (min-width: 480px) {
  .form-xlarge {
    .control-label {
      font-size: 18px;
      line-height: 18px;
    }
    input[type="text"],
    input[type="password"],
    input[type="number"],
    input[type="date"],
    input[type="url"],
    input[type="email"],
    select {
      font-size: 18px;
      height: 44px;
      line-height: 24px;
      padding: 8px 16px;
    }
    select {
      height: 44px + 16px;
    }
    .help-inline,
    .help-block {
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 16px;
      font-weight: 300;
    }
    .add-on {    
      font-size: 18px;
      line-height: 24px;
      height: 24px;
      padding: 18px 16px;
    }
    .input-append {
      .add-on {
        padding-left: 8px;
      }
    }
    .input-prepend {
      .add-on {
        padding-right: 8px;
      }
    }
    &.form-horizontal {
      .control-label {
        padding-top: 16px;
      }
    }
  }
  .form-large {
    .control-label {
      font-size: 14px;
      line-height: 24px;
    }
    textarea {
      font-size: 14px;
      line-height: 18px;
      padding: 6px 12px;
    }
    input[type="text"],
    input[type="password"],
    input[type="number"],
    input[type="date"],
    input[type="url"],
    input[type="email"],
    select {
      font-size: 14px;
      height: 24px;
      line-height: 18px;
      padding: 6px 12px;
    }
    select {
      height: 24px + 12px;
    }
    .help-inline,
    .help-block {
      font-size: 13px;
      line-height: 16px;
      font-weight: 300;
    }
    .add-on {    
      font-size: 14px;
      line-height: 24px;
      height: 24px;
      padding: 6px 9px;
    }
    .input-append {
      .add-on {
        padding-left: 6px;
      }
    }
    .input-prepend {
      .add-on {
        padding-right: 6px;
      }
    }
    &.form-horizontal {
      .control-label {
        padding-top: 16px;
      }
    }
  }
}

// Large controls
@media (min-width: 767px) {
  .form-large {
    // Automatically adjust icons and buttons
    .btn {
      padding: @paddingLarge;
      font-size: @fontSizeLarge;
      line-height: 10px;
      .border-radius(@borderRadiusLarge);
      [class^="icon-"],
      [class*=" icon-"] {
        margin: -6px 0;
      }
    }

    [class^="icon-"], [class*=" icon-"] {
      background-image: url(@iconBigSpritePath);
      width: 21px;
      height: 25px;
      line-height: 25px;
    }
    .icon-search { background-position: -274px -75px; }
    .icon-map-marker { background-position: -82px -930px; }
    .icon-white { background-image: url(@iconBigWhiteSpritePath); }
  }
}



@media (min-width: 480px) and (max-width: 767px) { 
  .form-xlarge {
    .add-on {    
      height: 24px;
      padding: 9px 16px;
    }
  }
  .form-large {
    .add-on {    
      height: 24px;
      padding: 5px 6px;
    }
  }
}

.input-xsmall {
  width: 60px;
}

/* Default form fields to auto */
input, textarea, select, .uneditable-input {
  width:auto;
}


/*.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}*/

.field_with_errors,
.error {
  color: #B94A48;
  border-color: #B94A48;
  input.btn {
    color: @white;
  }
}

.controls-text {
  text-align: center;
}

form {
  .help-block {
    margin-top: 0;
  }
}

.help-block,
.help-inline {
  color: @grayLight; // lighten the text some for contrast
}

// Round the button if it is appended.
.input-append .btn {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.form-actions {
  .btn-group {
    .btn + .btn {
    margin-left:-1px;
    }
  }
  .btn  + .btn {
    margin-left:5px;
  }
  &.modal-footer {
    margin-top:0;
  }
  label {
    margin-right: 20px;
    display:inline-block;
    vertical-align:middle;
  }
}



