/**
 * @file
 * Listings Page Styling
 */

#listing {
  #cover-photo {
    margin-bottom:18px;
  }
}

.checkbox-list {
  li {
    margin-bottom: 4px;
    list-style-image: url('data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw=='); // Dash
    &.checked {
      list-style-image: url('data:image/gif;base64,R0lGODlhCwAKANUAAAAAAP///yd9oSqApCp/oyyBpS2CpjCEqDCFqDCDpjKFqTOGqjKEpzOHqTOGqDaJrDaJqzeKrTeKrDaIqjiLrTmLrjmMrjqMrzqNrzuNsDmIqj2PsUCQskGSskKQsUyVs1CXtVKVsVybtv///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAACMALAAAAAALAAoAAAY1wJFwSCwSOx6jkLORgIwWSuPwKWIiCoNDmLlgKBRFISEMPSgVyaLAKB4gCMJEKRholEKRMQgAOw=='); // Check
    }
  }
}