/**
 * @file
 * Listings Page Styling
 */

#listing {
  .photo {
    margin-bottom:18px;
  }
}

.listing {
  background-color: white;
  position: relative;
  &:hover {
    text-decoration: none;
  }
  &.active {
    border-color: @blue;
    .box-shadow(0 1px 4px rgba(0, 105, 214, 0.25))
  }
  > .position {
    position: absolute;
    padding: 4px;
    line-height: 9px;
    font-size: 9px;
    background-color: @white;
  }
}

.checkbox-list {
  li {
    margin-bottom: 4px;
    list-style-image: url('data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw=='); // Dash
    &.checked {
      list-style-image: url('data:image/gif;base64,R0lGODlhCwAKANUAAAAAAP///yd9oSqApCp/oyyBpS2CpjCEqDCFqDCDpjKFqTOGqjKEpzOHqTOGqDaJrDaJqzeKrTeKrDaIqjiLrTmLrjmMrjqMrzqNrzuNsDmIqj2PsUCQskGSskKQsUyVs1CXtVKVsVybtv///wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAACMALAAAAAALAAoAAAY1wJFwSCwSOx6jkLORgIwWSuPwKWIiCoNDmLlgKBRFISEMPSgVyaLAKB4gCMJEKRholEKRMQgAOw=='); // Check
    }
  }
}