/**
 * @file Responsive
 */
@media (min-width: 768px) and (max-width: 979px) {
  .form-actions,
  .modal {
    input.span1 {
      width: 60px;
    }
  }
}

@media (max-width: 979px) {
  .navbar .navbar-inner {
    padding:0 5px;
  }
}

@media (max-width: 767px) {
  // Move body padding styles from body to page.
  // Don't target view, as it requires proper width-styling.
  body {
    padding: 0;
  }
  #page {
    padding-left: 20px;
    padding-right: 20px;
  }
  .navbar-fixed-top {
    margin-left: 0;
    margin-right: 0;
  }
  .main {
    margin-top: 0;
  }
  .input-prepend, 
  .input-append {
    input[class*="span"] {
      display:inline-block;
    }
  }
}

@media (max-width: 560px) {
  // Provide an easy return method to the home screen.
  .not-front {
    .navbar-fixed-top {
      .btn-nav {
        display:block;
      }
      .brand {
        display:none;
      }
      .navbar-inner {
        background-image:url(../../images/logo-mini.png);
        background-position:50% 3px;
        background-repeat:no-repeat;
      }
    }
  }
  .navbar-fixed-top {
    .btn-group {
      margin-top:0;
    }
  }
}

// @media (max-width: 480px) {
//   .navbar {
//     .navbar-inner {
//       padding:0 20px;
//     }
//     .brand {
//       float:none;
//       text-align: center;
//     }
//   }
// }
