#notifications {
  > ul {
    width: 330px;    
    > li {
      > a {
        &:hover {
          #gradient > .vertical(@white, @white);
          background-color:@white;
        }
        &.unread {
          #gradient > .vertical(lighten(@blueLight, 5%), @blueLight);
          background-color:@blueLight;
        }
        &.unread:hover {
          #gradient > .vertical(@blueLight, darken(@blueLight, 5%));
          color:@black;
        }
      }
    }
  }
}