/**
 * @file
 * Typography Styling
 */

// HEADERS
// -------

h1 { font-size: 30px + 5px; }
h2 { font-size: 24px + 4px; }
h3 { font-size: 18px + 4px; }
h4 { font-size: 14px + 4px; }
h5 { font-size: 12px + 4px; }
h6 {
  font-family: @sansFontFamily;
}

h1 {
  &.soften {
    color: @blueDark;
    font-size: 26px;
    font-weight: bold;
    height: 26px;
    letter-spacing: -1px;
    line-height: 26px;
    text-overflow: ellipsis;
  }
}

.hero-unit h1 {
  &.inverse {
    color:@white;
    text-shadow:0 1px 25px @grayDark;
  }
}


// Remove the margin-top set by Bootstrap.
h1,
h2,
h3 {
  margin: 0 0 15px;
}
h4,
h5,
h6 {
  margin: 0 0 9px;
}

h3 {
  span.btn {font-family: @sansFontFamily;}
}

.center {
  text-align:center;
}

.node-page {
  text-align:justify;
}

.node .submitted a,
.node .terms a {
  border: none;
}

.node .terms {
  text-transform: uppercase;
}

/**
 * Autocomplete
 */
#autocomplete {
  text-align:left;
}


.tips /* Tips for Drupal's input formats */ {
  font-size: 0.9em;
}



/**
 * Blocks
 */
.block-title /* Block title */ {
  text-transform:uppercase;
}

.strong {
  font-weight:bold;
}
