/**
 * @file
 * Profile Styling
 */

/**
 * Menu
 */
.auth-nav {
  .dropdown-menu {
    padding-left:4px;
    padding-right:4px;
  }
  hr {
    margin: 14px 0;
  }
  legend {
    text-align:center;
    margin-bottom: 0;
    font-size: 13px;
    font-weight:400;
    line-height: 13px;
    border-bottom: none;
    & + .control-group {
      margin-top: 9px;
    }
  }
}

.profile {
  a {
    &:hover {
      text-decoration: none;
    }
  }
}

#profile-stats {
  h6 {
    text-transform: uppercase;
    color: @gray;
  }
  li {
    text-align: center;
  }
  .count {
    font-size: 24px;
    line-height: 24px;
  }
}

/**
 * Apps form
 */
.apps-form {
  h3 { 
    margin-top:0;
  }
  .revoke { 
    display:none; 
  }
  .controls {
    &:hover {
      .linked { display:none; }
      .revoke { display:inline-block; }
    } 
  }
  .photo {
    position: relative;
    height: 64px;
    z-index: 0;
  }
}

/**
 * Profile view
 */
.page-user {
  .profile-pic {
    float:left;
  }
  h1 {
    display:inline-block;
    margin-right: 12px;
    margin-bottom:9px;
  }
  .btn-group {
    vertical-align:top;
    margin-top:9px; // Same as h1.
  }
  .field-bio {
    margin-bottom:9px;
    font-size:14px;
  }
  .action-links {
    float:none;
  }
  .field-label {
    width:100px;
    display:inline-block;
  }
}

/* Split into two sections */
.entity-profile2 {
  .field-type-image,
  .group-info {
    vertical-align:top;
    display:inline-block;
  }
}

