<div class="span4 content activity thumbnail">
  <a href="<%= publicUrl %>" class="<%= type %>"><%= content %></a>
  <ul class="activity-info inline inline-condensed">
    <li><a href="#" class="like-button<% if (active) { %> active<% } %>"><i class="icon icon-sprite icon-like"></i></a></li>
    <li><i class="icon icon-<%= icon %>"></i></li>
  </ul>
</div>