<div class="photo template-upload">
  <div class="preview control-group"></div>
  <div class="progress progress-success progress-striped active"
       role="progressbar"
       aria-valuemin="0"
       aria-valuemax="100"
       aria-valuenow="0">
    <div class="bar" style="width:0%;"></div>
  </div>
</div>