<div class="photo template-download form-group">
  <img src="<%=image%>" class="img-responsive img-rounded fade in">  
  <div class="photo-actions hide">
    <button type="button" class="photo-destroy btn btn-danger" title="<%= i18nCommon.actions.delete %>">
      <span class="glyphicon glyphicon-trash"></span>
    </button>
    <!-- <input type="checkbox" name="delete" value="1"> -->
  </div>
</div>