<div class="photo span">
  <img src="<%=url%>" class="img-rounded photo-profile" width="100">
  <div class="photo-actions hide">
    <button class="photo-destroy btn btn-mini" title="<%= i18nCommon.actions.delete %>">
      <strong>&times;</strong>
    </button>
    <a href="/users/<%= objectId %>"><%= first_name %> <%= last_name %></a>
  </div>
</div>