<th class="view-specific view-structure"><%=i18nUnit.fields.bedrooms%></th>
<th class="view-specific view-structure"><%=i18nUnit.fields.bathrooms%></th>
<th class="view-specific view-structure"><%=i18nUnit.fields.square_feet%></th>
<th class="view-specific view-structure"><%=i18nUnit.fields.description%></th>