<form class="property-form" enctype="multipart/form-data" method="post" >
  <%= JST["src/js/templates/property/form.jst"]({property: property, i18nCommon: i18nCommon, i18nProperty: i18nProperty}) %>
  
  <div class="form-actions">
    <button class="save btn btn-primary"><%= i18nCommon.actions.save %></button>
  </div>
  
  <a class="remove" href="#"><%= i18nCommon.actions.delete %></a>
</form>