<ul class="dropdown-menu">
  <li><a href="/properties/<%= objectId %>/add/lease"><%= i18nProperty.menu.add_lease %></a></li>
  <li><a href="/properties/<%= objectId %>/add/tenants"><%= i18nProperty.menu.add_tenants %></a></li>
  <li><a href="/properties/<%= objectId %>/add/listing"><%= i18nProperty.menu.add_listing %></a></li>
</ul>