<ul class="dropdown-menu">
  <li><a href="<%= baseUrl %>/edit"><%= i18nProperty.menu.edit_property %></a></li>
  <li><a href="<%= baseUrl %>/photos"><%= i18nProperty.menu.edit_photos %></a></li>
  <li class="divider"></li>
  <li><a href="<%= publicUrl %>"><%= i18nProperty.menu.view_public %></a></li>
</ul>