<ul class="dropdown-menu">
  <li><a href="/properties/<%= objectId %>/edit"><%= i18nProperty.menu.edit_property %></a></li>
  <li><a href="/properties/<%= objectId %>/photos"><%= i18nProperty.menu.edit_photos %></a></li>
  <li><a href="/properties/<%= objectId %>/managers"><%= i18nProperty.menu.edit_managers %></a></li>
  <li class="divider"></li>
  <li><a href="/public/<%= objectId %>"><%= i18nProperty.menu.view_public %></a></li>
  <li><a href="/tenant/<%= objectId %>"><%= i18nProperty.menu.view_tenant %></a></li>
</ul>