<ul class="dropdown-menu">
  <li><a href="<%= baseUrl %>/income"><%= i18nProperty.menu.income %></a></li>
  <li><a href="<%= baseUrl %>/expenses"><%= i18nProperty.menu.expenses %></a></li>
  <li><a href="<%= baseUrl %>/cash"><%= i18nProperty.menu.cash_transactions %></a></li>
  <li><a href="<%= baseUrl %>/leases"><%= i18nProperty.menu.lease_history %></a></li>
</ul>