<ul class="dropdown-menu">
  <li><a href="/properties/<%= objectId %>/occupancy"><%= i18nProperty.menu.occupancy %></a></li>
  <li><a href="/properties/<%= objectId %>/income"><%= i18nProperty.menu.income %></a></li>
  <li><a href="/properties/<%= objectId %>/expenses"><%= i18nProperty.menu.expenses %></a></li>
  <li><a href="/properties/<%= objectId %>/cash"><%= i18nProperty.menu.cash_transactions %></a></li>
  <li><a href="/properties/<%= objectId %>/leases"><%= i18nProperty.menu.lease_history %></a></li>
</ul>