<ul class="dropdown-menu">
  <li><a href="/properties/<%= objectId %>"><%= i18nProperty.menu.building %></a></li>
  <li><a href="/properties/<%= objectId %>/tenants"><%= i18nProperty.menu.tenants %></a></li>
  <li class="divider"></li>
  <li><a href="/properties/<%= objectId %>/message_board"><%= i18nProperty.menu.message_board %></a></li>
  <li><a href="/properties/<%= objectId %>/tasks"><%= i18nProperty.menu.tasks %></a></li>
  <li class="divider"></li>
  <li><a href="/properties/<%= objectId %>/listings"><%= i18nProperty.menu.listings %></a></li>
  <li><a href="/properties/<%= objectId %>/applicants"><%= i18nProperty.menu.applicants %></a></li>
</ul>