<ul class="dropdown-menu">
  <li><a href="/properties/<%= objectId %>"><%= i18nProperty.menu.dashboard %></a></li>
  <li><a href="/properties/<%= objectId %>/tenants"><%= i18nProperty.menu.tenants %></a></li>
  <li><a href="/properties/<%= objectId %>/listings"><%= i18nProperty.menu.listings %></a></li>
  <li><a href="/properties/<%= objectId %>/message_board"><%= i18nProperty.menu.message_board %></a></li>
</ul>