<ul class="dropdown-menu">
  <li><a href="<%= baseUrl %>"><%= i18nProperty.menu.dashboard %></a></li>
  <li><a href="<%= baseUrl %>/tenants"><%= i18nProperty.menu.tenants %></a></li>
  <li><a href="<%= baseUrl %>/listings"><%= i18nProperty.menu.listings %></a></li>
</ul>