<div class="photo template-download control-group">
  <img src="<%=image%>" class="img-rounded fade in">  
  <div class="photo-actions hide">
    <button type="button" class="photo-destroy btn btn-danger" title="<%= i18nCommon.actions.delete %>">
      <i class="icon-trash icon-white"></i>
    </button>
    <!-- <input type="checkbox" name="delete" value="1"> -->
  </div>
</div>