<div class="thumbnail">
  <a href="/users/<%= objectId %>">
    <div class="photo photo-thumbnail inline-block align-middle">
      <img src="<%= url %>" width="50" height="50">
    </div>
    <div class="inline-block align-middle">
      <%= name %>
      <% if (current_user) { %><strong><small>(<%= i18nCommon.nouns.you %>)</small></strong><% } %>
    </div>
  </a>
</div>